{% block best_sellers %}
<div class="product-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Best Sellers</h3>
                </div>
            </div>
        </div>
        <div class="product-area-inner">
            <div class="row">
                <div class="product-carousel-active-2 owl-carousel">
                    <div class="col-sm-12">
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="#">
                                            <img src="https://blog.attify.com/content/images/2018/04/attify-badge.jpg" alt="" style="height: 271px;width: 271px;">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Aliquam lobortis est</a></h2>
                                        <span class="price">
                                            $ 80.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                    </div>
                    <div class="col-sm-12">
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="http://media2.govtech.com/images/940*704/nest+thermostat.jpg" alt="" style="height: 271px;width: 271px;">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Aliquam lobortis</a></h2>
                                        <span class="price">
                                            <del>$ 150.00</del> $ 145.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                    </div>
                    <div class="col-sm-12">
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="https://r.hswstatic.com/u_0/w_480/gif/smart-home-rev-1000x667.jpg" alt="" style="height: 271px;width: 271px;">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Tincidunt malesuada</a></h2>
                                        <span class="price">
                                            <del>$ 80.00</del> $ 50.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                    </div>
                    <div class="col-sm-12">
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="https://www.rd.com/wp-content/uploads/2018/11/Ecobee-Smart-Thermostat.jpg" alt="" style="height: 271px;width: 271px;">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Auctor gravida enim</a></h2>
                                        <span class="price">
                                            <del>$ 85.00</del> $ 75.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                    </div>
                    <div class="col-sm-12">
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="https://fortunedotcom.files.wordpress.com/2017/02/wemo.jpg" alt="" style="height: 271px;width: 271px;">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Auctor gravida enim</a></h2>
                                        <span class="price">
                                            <del>$ 85.00</del> $ 75.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}