{% block brand_logo %}
<div class="brand-logo-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="brand-carousel-active owl-carousel">
                    <!-- single brand logo -->
                    <div class="brand-logo">
                        <a href="#"><img src="https://evomedia.evothings.com/2013/11/evothings_logo_large_white2.png" alt="Brand logo"></a>
                    </div>
                    <!-- single brand logo end -->
                    <!-- single brand logo -->
                    <div class="brand-logo">
                        <a href="#"><img src="https://bktechouse.rw/public/assets/pics/iot-icon-yellow.png" alt="Brand logo"></a>
                    </div>
                    <!-- single brand logo end -->
                    <!-- single brand logo -->
                    <div class="brand-logo">
                        <a href="#"><img src="https://www.rcrwireless.com/wp-content/uploads/2016/11/iot-security-attacks.jpg" alt="Brand logo"></a>
                    </div>
                    <!-- single brand logo end -->
                    <!-- single brand logo -->
                    <div class="brand-logo">
                        <a href="#"><img src="https://is1-ssl.mzstatic.com/image/thumb/Purple118/v4/4c/84/ec/4c84ec06-6e2d-7c37-e2f4-20833a1ba6d2/source/512x512bb.jpg" alt="Brand logo"></a>
                    </div>
                    <!-- single brand logo end -->
                    <!-- single brand logo -->
                    <div class="brand-logo">
                        <a href="#"><img src="https://studio.code.org/v3/assets/gjJsF0acNBTJwq3TnZVzM8Q5RngB0vB2LlmoR3gG1V8/Smart%20City%20Logo%20(2).png" alt="Brand logo"></a>
                    </div>
                    <!-- single brand logo end -->
                    <!-- single brand logo -->
                    <div class="brand-logo">
                        <a href="#"><img src="https://banner2.kisspng.com/20180330/htq/kisspng-knowledge-transfer-knowledge-sharing-knowledge-man-knowledge-5abdc4a097ba64.3127989815223860806215.jpg" alt="Brand logo"></a>
                    </div>
                    <!-- single brand logo end -->
                    <!-- single brand logo -->
                    <div class="brand-logo">
                        <a href="#"><img src="https://www.ibm.com/analytics/us/en/images/iot/iot_icon4.png" alt="Brand logo"></a>
                    </div>
                    <!-- single brand logo end -->
                    <!-- single brand logo -->
                    <div class="brand-logo">
                        <a href="#"><img src="https://cordova.apache.org/static/img/showcase-apps/Pacifica.png" alt="Brand logo"></a>
                    </div>
                    <!-- single brand logo end -->
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}