{% block deals_of_the_day %}
<div class="deals-of-the-day-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Deals Of The Day</h3>
                </div>
            </div>
        </div>
        <div class="big-product-area">
            <div class="row">
                <div class="product-carousel-active owl-carousel">
                    <div class="col-sm-12">
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper listview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="#">
                                            <img src="http://35.239.32.190/images/products/5c1cff3ac2fba95f811f5f90/800/0.png" alt="">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Real time Monitoring</a></h2>
                                        <span class="price">
                                            <del>$ 77.00</del> $ 66.00
                                        </span>
                                        <div class="product-rattings">
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star-half-o"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>
                                        </div>
                                        <div class="product-desc">
                                            <p>Sensors2Cloud low cost monitoring solution allows reading of water levels using
                                                certified level sensors. 
                                                Data is transmitted using cellular network and gives managers a powerful
                                                tool to improve visibility.</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                    </div>
                    <div class="col-sm-12">
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper listview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <span class="onsale">Sale!</span>
                                            <img src="http://35.239.32.190/images/products/5c1cda649a2f2850a530a136/800/n1.png" alt="">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Nuki Smart Lock</a></h2>
                                        <span class="price">
                                            <del>$ 89.00</del> $ 80.00
                                        </span>
                                        <div class="product-rattings">
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star-half-o"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>
                                        </div>
                                        <div class="product-desc">
                                            <p>We’ve seen many changes in the world over the last century, but the lock and key system has rarely changed. Do we really even care for the concept of keys? We have to carry them everywhere, they are easy to get lost or stolen — and if you want to get a copy so someone else to access, you have to go all the way to the hardware store to have one made. Let’s face it – house keys are ancient.</p>                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                    </div>
                    <div class="col-sm-12">
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper listview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="http://35.239.32.190/images/products/5c1cfaf5c2fba95f811f5f84/800/d1.jpg" alt="">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Agricultural Drones</a></h2>
                                        <span class="price">
                                            <del>$ 68.00</del> $ 62.00
                                        </span>
                                        <div class="product-rattings">
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star-half-o"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>
                                        </div>
                                        <div class="product-desc">
                                            <p>Technology has changed over time and agricultural drones are a very good example of this. Today, agriculture is one of the major industries to incorporate drones. Drones are being used in agriculture in order to enhance various agricultural practices. The ways ground-based and aerial based drones are being used in agriculture are crop health assessment, irrigation, crop monitoring, crop spraying, planting, and soil and field analysis.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}