{% block header %}
<!-- HEADER AREA START -->
<header class="header-area">
    <!-- Header top area start -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="top-bar-left">
                        <!-- welcome -->
                        <div class="welcome">
                            <p>Internet of Things Applications Marketplace</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="topbar-nav">
                        <div class="wpb_wrapper">
                            <!-- my account -->

                            <div class="switcher">
                                <!-- language-menu -->
                                {% if session %}
                                <div class="language">
                                    <a href="/my-account">Hello ,{{session.firstname}}  {{session.lastname}}
                                    </a>
                                </div>
                                 <div class="language">
                                    <a href="/my-account">Account
                                    </a>
                                </div>
                                  <div class="language">
                                    <a href="/user-logout">Logout
                                    </a>
                                </div>
                                {% else %}
                                 <div class="language">
                                    <a href="/login-user">Login
                                    </a>
                                </div>
                                <div class="language">
                                    <a href="/register-user">Register
                                    </a>
                                </div>
                                <div class="language">
                                    <a href="#">
                                        <img src="/static/bootstrap/images/icons/en.png" alt="language-selector">English
                                    </a>
                                </div>
                                  {% endif %}
                                <!-- currency-menu -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top bar area end -->
    <!-- Header middle area start -->
    <div class="header-middle-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-md-12">
                    <!-- site-logo -->
                    <div class="site-logo">
                        <a href="/"><img src="/static/bootstrap/images/logo/midaq.png"  alt="Nikado"></a>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <!-- header-search -->
                    <div class="header-search clearfix">
                        <div class="category-select pull-right">
                            <select class="nice-select-menu" >
                                    <option value="shop?cat=All Categories" data-display="All Categories">All Categories</option>

                                <option value="shop?cat=" ></option>

                            </select>
                        </div>
                        <div class="header-search-form">
                            <form action="#">
                                <input type="text" name="search" placeholder="Search product...">
                                <input type="submit" name="submit" value="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12">
                    <!-- shop-cart-menu -->
                    <div class="shop-cart-menu pull-right">
                        <ul>
                            <li><a href="#"><i class="ion-ios-shuffle-strong"></i></a></li>
                            <li><a href="wishlist"><i class="ion-android-favorite-outline"></i></a></li>
                            <li><a href="#">
                                <span class="cart-icon">
                                    <i class="ion-bag"></i><sup>3</sup>
                                </span>
                                <span class="cart-text">
                                    <span class="cart-text-title">My cart <br> <strong>$ 145.00</strong> </span>
                                </span>
                            </a>
                                <ul>
                                    <li>
                                        <!-- single-shop-cart-wrapper -->
                                        <div class="single-shop-cart-wrapper">
                                            <div class="shop-cart-img">
                                                <a href="#"><img src="/static/bootstrap/images/product/1.jpg" alt="Image of Product"></a>
                                            </div>
                                            <div class="shop-cart-info">
                                                <h5><a href="cart">sport t-shirt men</a></h5>
                                                <span class="price">£515.00</span>
                                                <span class="quantaty">Qty: 1</span>
                                                <span class="cart-remove"><a href="#"><i class="fa fa-times"></i></a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <!-- single-shop-cart-wrapper -->
                                        <div class="single-shop-cart-wrapper">
                                            <div class="shop-cart-img">
                                                <a href="#"><img src="/static/bootstrap/images/product/2.jpg" alt="Image of Product"></a>
                                            </div>
                                            <div class="shop-cart-info">
                                                <h5><a href="cart">sport coat amet</a></h5>
                                                <span class="price">£100.00</span>
                                                <span class="quantaty">Qty: 1</span>
                                                <span class="cart-remove"><a href="#"><i class="fa fa-times"></i></a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <!-- single-shop-cart-wrapper -->
                                        <div class="single-shop-cart-wrapper">
                                            <div class="shop-cart-img">
                                                <a href="#"><img src="/static/bootstrap/images/product/3.jpg" alt="Image of Product"></a>
                                            </div>
                                            <div class="shop-cart-info">
                                                <h5><a href="cart">Pellentesque men</a></h5>
                                                <span class="price">£265.00</span>
                                                <span class="quantaty">Qty: 1</span>
                                                <span class="cart-remove"><a href="#"><i class="fa fa-times"></i></a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <!-- shop-cart-total -->
                                        <div class="shop-cart-total">
                                            <p>Subtotal: <span class="pull-right">£880.00</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="shop-cart-btn">
                                            <a href="checkout">Checkout</a>
                                            <a href="cart" class="pull-right">View Cart</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header middle area end -->
    <!-- Header bottom area start -->
    <div class="header-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 hidden-md hidden-sm pull-left category-wrapper">
                    <div class="categori-menu">
                    <span class="categorie-title">Categories</span>
                    <!-- Category START -->
                    <nav>									
                        <ul class="categori-menu-list menu-hidden">

                        <li><a href="shop?cat="><span></span>Agriculture<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <!-- categori Mega-Menu Start -->
                                <ul class="ht-dropdown megamenu first-megamenu">
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Agriculture</li>

                                                <li><a href="/"></a>Farm</li>
                                             <li><a href="/"></a>Water</li>

                                        </ul>
                                    </li>

                                    <!-- Single Column End -->
                                </ul>
                                <!-- categori Mega-Menu End -->
                            </li>
                              <li><a href="shop?cat="><span></span>Industrial<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <!-- categori Mega-Menu Start -->
                                <ul class="ht-dropdown megamenu first-megamenu">
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Industrial</li>

                                                <li><a href="/"></a>Digital</li>
                                             <li><a href="/"></a>Current Loop </li>

                                        </ul>
                                    </li>

                                    <!-- Single Column End -->
                                </ul>
                                <!-- categori Mega-Menu End -->
                            </li>
                        </ul>
                    </nav>
                    <!-- Category END -->
                </div>
                </div>
                <div class="col-lg-9">
                    <!-- main-menu -->
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li class="current"><a href="index">Home</a></li>
                                <li><a href="shop">Shop</a></li>
                                <li><a href="blog">Blog</a></li>
                                <li><a href="about-us">About Us</a></li>
                                <li><a href="contact-us">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-menu-area">
                        <div class="mobile-menu">
                            <nav id="mobile-menu-active">
                                <ul class="menu-overflow">
                                    <li><a href="#">HOME</a></li>
                                    <li><a href="shop">Shop</a></li>
                                    <li><a href="blog">Blog</a></li>
                                    <li><a href="about-us">About Us</a></li>
                                    <li><a href="contact-us">Contact</a></li>
                                </ul>
                            </nav>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header bottom area end -->
</header>
<!-- HRADER AREA END -->
{% endblock %}