{% block new_arrivals %}
<div class="product-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>New Arrivals</h3>
                </div>
            </div>
        </div>
        <div class="product-area-inner">
            <div class="row">
                <div class="product-carousel-active-3 owl-carousel">
                    <div class="col-sm-12">
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="http://35.239.32.190/images/products/5c1cfa79c2fba95f811f5f80/800/p1.jpg" alt="" style="height:271px;width:271px">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Sit voluptatem</a></h2>
                                        <span class="price">
                                            <del>$ 77.00</del> $ 66.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="https://evomedia.evothings.com/2013/11/evothings_logo_large_white2.png" alt="" style="height:271px;width:271px">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Nulla sed libero</a></h2>
                                        <span class="price">
                                            $ 45.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                    </div>
                    <div class="col-sm-12">
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="http://thetahses.com/uploads/1/1/7/5/117547265/s488778748121416097_p17_i1_w300.jpeg" alt="" style="height:271px;width:271px">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Sit voluptatem</a></h2>
                                        <span class="price">
                                            <del>$ 77.00</del> $ 66.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="https://cdn-images-1.medium.com/max/1200/1*qr7K9B0-uIsBi4CUjGG9Rg.jpeg" alt="" style="height:271px;width:271px">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Nulla sed libero</a></h2>
                                        <span class="price">
                                            $ 45.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                    </div>
                    <div class="col-sm-12">
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="https://static.makeuseof.com/wp-content/uploads/2017/04/Affordable-Smart-Home-Devices-Featured-670x335.jpg" alt="" style="height:271px;width:271px">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Sit voluptatem</a></h2>
                                        <span class="price">
                                            <del>$ 77.00</del> $ 66.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="https://blog.radware.com/wp-content/uploads/2018/02/smart-homes-iot-2.jpg" alt="" style="height:271px;width:271px">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Nulla sed libero</a></h2>
                                        <span class="price">
                                            $ 45.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                    </div>
                    <div class="col-sm-12">
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="https://cdn.sparkfun.com/assets/home_page_posts/2/0/0/6/TRENDS_SBC_RASPPI.jpg" alt="" style="height:271px;width:271px">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Sit voluptatem</a></h2>
                                        <span class="price">
                                            <del>$ 77.00</del> $ 66.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="https://cdn-images-1.medium.com/max/1600/1*aT25_HNaq6tHNc-s0SIVLA.jpeg" alt="" style="height:271px;width:271px">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Nulla sed libero</a></h2>
                                        <span class="price">
                                            $ 45.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                    </div>
                    <div class="col-sm-12">
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="http://www.simpleer.com/wp-content/uploads/2014/01/IoT-home.jpg" alt="" style="height:271px;width:271px">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Sit voluptatem</a></h2>
                                        <span class="price">
                                            <del>$ 77.00</del> $ 66.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                        <!-- single product -->
                        <div class="single-product-area">
                            <div class="product-wrapper gridview">
                                <div class="list-col4">
                                    <div class="product-image">
                                        <a href="">
                                            <img src="http://techtheday.com/wp-content/uploads/2016/07/smarthome-3-1024x682.jpg" alt="" style="height:271px;width:271px">
                                        </a>
                                        <!--<div class="quickviewbtn">
                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="list-col8">
                                    <div class="product-info">
                                        <h2><a href="single-product">Nulla sed libero</a></h2>
                                        <span class="price">
                                            $ 45.00
                                        </span>
                                    </div>
                                    <div class="product-hidden">
                                        <div class="add-to-cart">
                                            <a href="cart">Add to cart</a>
                                        </div>
                                        <div class="star-actions">
                                            <div class="product-rattings">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-half-o"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <ul class="actions">
                                                <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single product end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}