{% block policy %}
<div class="policy-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="policy-area-inner">
                    <div class="single-policy-area">
                        <div class="single-policy">
                            <div class="icon"><i class="icon ion-android-sync"></i></div>
                            <h3>Free Return</h3>
                            <p>30 days money back guarantee!</p>
                        </div>
                    </div>
                    <div class="single-policy-area">
                        <div class="single-policy">
                            <div class="icon"><i class="icon ion-paper-airplane"></i></div>
                            <h3>Free Shipping</h3>
                            <p>Free shipping on all order</p>
                        </div>
                    </div>
                    <div class="single-policy-area">
                        <div class="single-policy">
                            <div class="icon"><i class="icon ion-help-buoy"></i></div>
                            <h3>Support 24/7</h3>
                            <p>We support online 24 hrs a day</p>
                        </div>
                    </div>
                    <div class="single-policy-area">
                        <div class="single-policy">
                            <div class="icon"><i class="icon ion-card"></i></div>
                            <h3>Receive Gift Card</h3>
                            <p>Recieve gift all over oder $50</p>
                        </div>
                    </div>
                    <div class="single-policy-area">
                        <div class="single-policy">
                            <div class="icon"><i class="icon ion-ios-locked"></i></div>
                            <h3>Secure Payment</h3>
                            <p>We Value Your Security</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
{% endblock %}