{% block slider %}
<div class="slider-area">
    <div class="container">
        <div class="row">
            <div class="slider-hidden col-lg-3">
                
            </div>
            <div class="slider col-xl-9">
            
                <!-- slider-area start -->
                <div class="slider-area-inner">
                    <!-- slider start -->
                    <div class="slider-inner">
                        <div id="mainSlider" class="nivoSlider nevo-slider">
                            <img src="/static/bootstrap/images/slider/bg1.png" alt="main slider" title="#htmlcaption1"/>
                            <img src="/static/bootstrap/images/slider/bg2.png" alt="main slider" title="#htmlcaption2"/>
                        </div>	
                        <div id="htmlcaption1" class="nivo-html-caption slider-caption">
                            <div class="slider-progress"></div>
                            <div class="col-md-9">
                                <div class="slider-content slider-content-1 slider-animated-1">
                                    <h1 class="hone">Internet Of Things Applications</h1>
                                    <h1 class="hone">Marketplace</h1>
                                    <h3>Packaged IoT Apps with Hardware, Software & Services</h3> 
                                    <div class="button-1 hover-btn-2">
                                        <a href="shop">Register Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="htmlcaption2" class="nivo-html-caption slider-caption">
                            <div class="slider-progress"></div>
                            <div class="col-md-9">
                                <div class="slider-content slider-content-1 slider-animated-1">
                                    <h1 class="hone">Packaged IoT Apps with Full IoT Stack</h1>
                                    <h3>Edge, Network, Servers & Apps</h3>
                                    <div class="button-1 hover-btn-2">
                                        <a href="shop">Register Now</a>
                                    </div>
                                </div>
                            </div>					
                        </div>
                    </div>
                    <!-- slider end -->
                </div>
                <!-- slider-area end -->
            </div>

        </div>
    </div>
</div>
{% endblock %}