<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Midaq IoT Marketplace</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/bootstrap/images/icons/icon_logo.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css">
        <link rel="stylesheet" href="/bootstrap/css/ionicons.min.css">
        <link rel="stylesheet" href="/bootstrap/css/css-plugins-call.css">
        <link rel="stylesheet" href="/bootstrap/css/bundle.css">
        <link rel="stylesheet" href="/bootstrap/css/main.css">
        <link rel="stylesheet" href="/bootstrap/css/responsive.css">
        <link rel="stylesheet" href="/bootstrap/css/colors.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- Body main wrapper start -->
        <div class="wrapper home-one about-page single-product-page">
            <!-- HEADER AREA START -->
            <header class="header-area">
                {% block header %}{% endblock %}
            </header>
            <!-- HRADER AREA END -->
            <!-- Breadcrumbs -->
            <div class="breadcrumbs-container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <nav class="woocommerce-breadcrumb">
                                <a href="index.html">Home</a>
                                <span class="separator">/</span> About
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumbs End -->
            <!-- About page area -->
			<div class="about-page-area">
				<div class="about__us_page_area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 col-lg-6 col-xs-12">
                                <div class="banner_h2__left_image">
                                    <img alt="" src="http://www.sensors2cloud.com/source/images/Apps/What_we_do.png">
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-6  col-xs-12">
                                <div class="banner_h2_Right_text">
                                    <div class="wpb_wrapper">
                                        <h3>Enterprise IoT platform</h3>
                                        <p>Sensors2Cloud is a software-as-a-service company that offer an Enterprise platform to build and host scalable IoT applications. Our customers purchase their hardware, connect it to our platform then build applications using our tools. We do not sell hardware but we provide libraries to integrate any off-the-shelf or custom hardware into our platform.</p>
                                        <p class="text-center">
                                            <a href="http://www.sensors2cloud.com/"> view work </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="funfact-area bg--white" id="funfact-area">
                    <div class="funfacts">
                        <div class="row no-gutters">

                            <!--  Single Funfact -->
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="funfact">
                                    <div class="fun__fact_img">
                                        <img src="images/icon-img/about-us-icon1.png" alt="">
                                    </div>
                                    <div class="fun_fact_info">
                                        <h1>
                                            <span class="counter">2169</span>
                                        </h1>
                                        <h5>HAPPY CUSTOMERS</h5>
                                    </div>
                                </div>
                            </div>
                            <!--//  Single Funfact -->

                            <!--  Single Funfact -->
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="funfact">
                                    <div class="fun__fact_img">
                                        <img src="images/icon-img/about-us-icon2.png" alt="">
                                    </div>
                                    <div class="fun_fact_info">
                                        <h1>
                                         <span class="counter">369</span>
                                        </h1>
                                         <h5>AWARDS WINNED</h5>
                                    </div>
                                </div>
                            </div>
                            <!--//  Single Funfact -->

                            <!--  Single Funfact -->
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="funfact">
                                    <div class="fun__fact_img">
                                        <img src="images/icon-img/about-us-icon3.png" alt="">
                                    </div>
                                    <div class="fun_fact_info">
                                        <h1>
                                            <span class="counter">689</span>
                                        </h1>
                                        <h5>HOURS WORKED</h5>
                                    </div>
                                </div>
                            </div>
                            <!--//  Single Funfact -->

                            <!--  Single Funfact -->
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="funfact">
                                    <div class="fun__fact_img">
                                        <img src="images/icon-img/about-us-icon4.png" alt="">
                                    </div>
                                    <div class="fun_fact_info">
                                        <h1>
                                            <span class="counter">2169</span>
                                        </h1>
                                        <h5>COMPLETE PROJECTS</h5>
                                    </div>
                                </div>
                            </div>
                            <!--//  Single Funfact -->

                        </div>
                    </div>
                </div>


                <div class="abou_skrill__area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 col-lg-6 col-xs-12">
                                <div class="skrill_here">
                                    <h3>WE HAVE SKILLS TO SHOW</h3>
                                    <div class="ht-single-about">
                                        <div class="skill-bar">
                                            <div class="skill-bar-item">
                                                <span>PYTHON</span>
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft width80" data-progress="80%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                        <span class="text-top">80%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="skill-bar-item">
                                                <span>C &amp; C++</span>
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft width90" data-progress="90%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                        <span class="text-top">90%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="skill-bar-item">
                                                <span>Android apps</span>
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft width70" data-progress="70%"  data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                        <span class="text-top">70%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="skill-bar-item">
                                                <span>Data Processing</span>
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft width95" data-progress="95%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                        <span class="text-top">95%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xs-12">
                                <div class="banner_h2__left_image lft_to_right">
                                    <img alt="" src="https://3pdashboard.appspot.com/source/img/EmbeddedAPI.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>	
			<!-- About page area end-->
            {% block footer %}{% endblock %}
            <!-- QUICKVIEW PRODUCT START -->
            <div id="quickview-wrapper">
                <!-- Modal -->
                <div class="modal fade" id="product_modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-close-btn">
                                <button class="close" data-dismiss="modal">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                               <!-- Single product area -->
                               <div class="single-product-area">
                                   <div class="container-fullwidth">
                                       <div class="single-product-wrapper">
                                           <div class="row">
                                               <div class="col-xs-12 col-md-7 col-lg-7">
                                                    <div class="product-details-img-content">
                                                        <div class="product-details-tab mr-40">
                                                            <div class="product-details-large tab-content">
                                                                <div class="tab-pane active" id="pro-details1">
                                                                    <div class="product-popup">
                                                                        <a href="images/product/single/product4.jpg">
                                                                            <img src="images/product/single/product4.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details2">
                                                                    <div class="product-popup">
                                                                        <a href="images/product/single/product5.jpg">
                                                                            <img src="images/product/single/product5.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details3">
                                                                    <div class="product-popup">
                                                                        <a href="images/product/single/product6.jpg">
                                                                            <img src="images/product/single/product6.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details4">
                                                                    <div class="product-popup">
                                                                        <a href="images/product/single/product7.jpg">
                                                                            <img src="images/product/single/product7.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details5">
                                                                    <div class="product-popup">
                                                                        <a href="images/product/single/product8.jpg">
                                                                            <img src="images/product/single/product8.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-details-small nav product-dec-slider-qui owl-carousel">
                                                                <a class="active" href="#pro-details1">
                                                                    <img src="images/product/thumbnails/product4.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details2">
                                                                    <img src="images/product/thumbnails/product5.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details3">
                                                                    <img src="images/product/thumbnails/product6.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details4">
                                                                    <img src="images/product/thumbnails/product7.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details5">
                                                                    <img src="images/product/thumbnails/product8.jpg" alt="">
                                                                </a>
                                                                <a class="active" href="#pro-details1">
                                                                    <img src="images/product/thumbnails/product4.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details2">
                                                                    <img src="images/product/thumbnails/product5.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details3">
                                                                    <img src="images/product/thumbnails/product6.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details4">
                                                                    <img src="images/product/thumbnails/product7.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details5">
                                                                    <img src="images/product/thumbnails/product8.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                               </div>
                                               <div class="col-xs-12 col-md-5 col-lg-5">
                                                   <div class="single-product-info">
                                                       <h1>Sit voluptatem</h1>
                                                       <div class="product-rattings">
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star-half-o"></i></span>
                                                            <span><i class="fa fa-star-o"></i></span>
                                                        </div>
                                                        <span class="price">
                                                            <del>$ 77.00</del> $ 66.00
                                                        </span>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                        <div class="box-quantity d-flex">
                                                            <form action="#">
                                                                <input class="quantity mr-40" min="1" value="1" type="number">
                                                            </form>
                                                            <a class="add-cart" href="cart.html">add to cart</a>
                                                        </div>
                                                        <div class="wishlist-compear-area">
                                                            <a href="wishlist.html"><i class="ion-ios-heart-outline"></i> Add to Wishlist</a>
                                                            <a href="#"><i class="ion-ios-loop-strong"></i> Compare</a>
                                                        </div>
                                                        <div class="product_meta">
                                                            <span class="posted_in">Categories: <a href="#" rel="tag">Accessories</a>, <a href="#" rel="tag">Clothings</a></span>
                                                        </div>
                                                        <div class="single-product-sharing">
                                                            <div class="widget widget_socialsharing_widget">
                                                                <h3 class="widget-title">Share this product</h3>
                                                                <ul class="social-icons">
                                                                    <li><a class="facebook social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                                                    <li><a class="twitter social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                                                    <li><a class="pinterest social-icon" href="#"><i class="fa fa-pinterest"></i></a></li>
                                                                    <li><a class="gplus social-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                                    <li><a class="linkedin social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                                <!-- Single product area end -->
                            </div>
                        </div><!-- .modal-content -->
                    </div><!-- .modal-dialog -->
                </div><!-- END Modal -->
            </div>
            <!-- QUICKVIEW PRODUCT END -->
        </div>
        <!-- Body main wrapper end -->


        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <!-- jQuery Local -->
        <script>window.jQuery || document.write('<script src="js/jquery-3.2.1.min.js"><\/script>')</script>

        <!-- Popper min js -->
        <script src="js/popper.min.js"></script>
        <!-- Bootstrap min js  -->
        <script src="js/bootstrap.min.js"></script>
        <!-- All plugins here -->
        <script src="js/plugins.js"></script>
        <!-- Main js  -->
        <script src="js/main.js"></script>



        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
