<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Midaq IoT Marketplace</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/bootstrap/images/icons/icon_logo.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css">
        <link rel="stylesheet" href="/bootstrap/css/ionicons.min.css">
        <link rel="stylesheet" href="/bootstrap/css/css-plugins-call.css">
        <link rel="stylesheet" href="/bootstrap/css/bundle.css">
        <link rel="stylesheet" href="/bootstrap/css/main.css">
        <link rel="stylesheet" href="/bootstrap/css/responsive.css">
        <link rel="stylesheet" href="/bootstrap/css/colors.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- Body main wrapper start -->
        <div class="wrapper home-one single-product-page">
            <!-- HEADER AREA START -->
            <header class="header-area">
                {% block header %}{% endblock %}
            </header>
            <!-- HRADER AREA END -->
            <!-- Breadcrumbs -->
            <div class="breadcrumbs-container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <nav class="woocommerce-breadcrumb">
                                <a href="index.html">Home</a>
                                <span class="separator">/</span> Blog
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumbs End -->
            <!-- Page title -->
            <div class="entry-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="entry-title">Blog</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page title end -->
            <!-- cart page content -->
            <div class="blog-page-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-9">
                            <div class="page-content blog-page blog-sidebar right-sidebar blog-text-align">
                                <!-- blog post -->
                                <article class="text-center">
                                    <div class="blog-entry-header">
                                        <div class="post-category">
                                            <a href="#">Fashion</a>
                                            <a href="#">Template</a>
                                        </div>
                                        <h1><a href="single-blog.html">Blog image post</a></h1>
                                        <div class="post-meta">
                                            <a href="#"  class="post-author"><i class="fa fa-user"></i>Posted by admin</a>
                                            <a href="#" class="post-date"><i class="fa fa-calendar"></i> March 10, 2018 </a>
                                        </div>
                                    </div>
                                    <div class="post-thumbnail">
                                        <a href="single-blog.html"><img src="/bootstrap/images/blog/blog1.jpg" alt="bege blog images"></a>
                                    </div>
                                    <div class="postinfo-wrapper">
                                        <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor</p>
                                        <a class="readmore button" href="single-blog.html">Read more</a>
                                        <div class="social-sharing">
                                            <h3>Share this post</h3>
                                            <div class="social-sharie">
                                                <ul class="social-icons">
                                                    <li><a class="facebook social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a class="twitter social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a class="pinterest social-icon" href="#"><i class="fa fa-pinterest"></i></a></li>
                                                    <li><a class="gplus social-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a class="linkedin social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- blog post end -->
                                <!-- blog post -->
                                <article class="text-center">
                                    <div class="blog-entry-header">
                                        <div class="post-category">
                                            <a href="#">GALLERY</a>
                                            <a href="#">Template</a>
                                        </div>
                                        <h1><a href="single-blog.html">POST WITH GALLERY</a></h1>
                                        <div class="post-meta">
                                            <a href="#"  class="post-author"><i class="fa fa-user"></i>Posted by admin</a>
                                            <a href="#" class="post-date"><i class="fa fa-calendar"></i> March 10, 2018 </a>
                                        </div>
                                    </div>
                                    <div class="gallery-post  owl-carousel">
                                        <img src="/bootstrap/images/blog/blog2.jpg" alt="bege blog images">
                                        <img src="/bootstrap/images/blog/blog3.jpg" alt="bege blog images">
                                        <img src="/bootstrap/images/blog/blog4.jpg" alt="bege blog images">
                                    </div>
                                    <div class="postinfo-wrapper">
                                        <br>
                                        <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor</p>
                                        <a class="readmore button" href="single-blog.html">Read more</a>
                                        <div class="social-sharing">
                                            <h3>Share this post</h3>
                                            <div class="social-sharie">
                                                <ul class="social-icons">
                                                    <li><a class="facebook social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a class="twitter social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a class="pinterest social-icon" href="#"><i class="fa fa-pinterest"></i></a></li>
                                                    <li><a class="gplus social-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a class="linkedin social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- blog post end -->
                                <!-- blog post -->
                                <article class="text-center">
                                    <div class="blog-entry-header">
                                        <div class="post-category">
                                            <a href="#">VIDEOS</a>
                                        </div>
                                        <h1><a href="single-blog.html">POST WITH VIDEO</a></h1>
                                        <div class="post-meta">
                                            <a href="#"  class="post-author"><i class="fa fa-user"></i>Posted by admin</a>
                                            <a href="#" class="post-date"><i class="fa fa-calendar"></i> March 10, 2018 </a>
                                        </div>
                                    </div>
                                    <div class="post-thumbnail">
                                        <iframe src="https://www.youtube.com/embed/Q6dsRpVyyWs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </div>
                                    <div class="postinfo-wrapper">
                                        <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor</p>
                                        <a class="readmore button" href="single-blog.html">Read more</a>
                                        <div class="social-sharing">
                                            <h3>Share this post</h3>
                                            <div class="social-sharie">
                                                <ul class="social-icons">
                                                    <li><a class="facebook social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a class="twitter social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a class="pinterest social-icon" href="#"><i class="fa fa-pinterest"></i></a></li>
                                                    <li><a class="gplus social-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a class="linkedin social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- blog post end -->
                                <!-- blog post -->
                                <article class="text-center">
                                    <div class="blog-entry-header">
                                        <div class="post-category">
                                            <a href="#">AUDIO</a>
                                            <a href="#">Template</a>
                                        </div>
                                        <h1><a href="single-blog.html">POST WITH AUDIO</a></h1>
                                        <div class="post-meta">
                                            <a href="#"  class="post-author"><i class="fa fa-user"></i>Posted by admin</a>
                                            <a href="#" class="post-date"><i class="fa fa-calendar"></i> March 10, 2018 </a>
                                        </div>
                                    </div>
                                    <div class="post-thumbnail">
                                        <iframe width="100%" height="auto" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/68283293&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                                    </div>
                                    <div class="postinfo-wrapper">
                                        <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor</p>
                                        <a class="readmore button" href="single-blog.html">Read more</a>
                                        <div class="social-sharing">
                                            <h3>Share this post</h3>
                                            <div class="social-sharie">
                                                <ul class="social-icons">
                                                    <li><a class="facebook social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a class="twitter social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a class="pinterest social-icon" href="#"><i class="fa fa-pinterest"></i></a></li>
                                                    <li><a class="gplus social-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a class="linkedin social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- blog post end -->
                                <!-- blog post -->
                                <article class="text-center">
                                    <div class="blog-entry-header">
                                        <div class="post-category">
                                            <a href="#">Fashion</a>
                                            <a href="#">Template</a>
                                        </div>
                                        <h1><a href="single-blog.html">Blog image post</a></h1>
                                        <div class="post-meta">
                                            <a href="#"  class="post-author"><i class="fa fa-user"></i>Posted by admin</a>
                                            <a href="#" class="post-date"><i class="fa fa-calendar"></i> March 10, 2018 </a>
                                        </div>
                                    </div>
                                    <div class="post-thumbnail">
                                        <a href="single-blog.html"><img src="/bootstrap/images/blog/blog5.jpg" alt="bege blog images"></a>
                                    </div>
                                    <div class="postinfo-wrapper">
                                        <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor</p>
                                        <a class="readmore button" href="single-blog.html">Read more</a>
                                        <div class="social-sharing">
                                            <h3>Share this post</h3>
                                            <div class="social-sharie">
                                                <ul class="social-icons">
                                                    <li><a class="facebook social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a class="twitter social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a class="pinterest social-icon" href="#"><i class="fa fa-pinterest"></i></a></li>
                                                    <li><a class="gplus social-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a class="linkedin social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- blog post end -->
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="pagination">
                                        <span aria-current="page" class="page-numbers current">1</span>
                                        <a class="page-numbers" href="#">2</a>
                                        <a class="next page-numbers" href="#">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="blog_sidebar">
                                <div class="row_products_side">
                                    <div class="product_left_sidbar">
                                        <div class="product-filter  mb-30">
                                          <h5>Search </h5>
                                          <div class="search__sidbar">
                                             <div class="input_form">
                                                <input type="text" id="search_input" name="s" value="Search..." class="input_text">
                                                <button id="blogsearchsubmit" type="submit" class="button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                             </div>
                                          </div>
                                        </div>
                                        <div class="product-filter  mb-30">
                                          <h5>Blog Archives </h5>
                                            <div class="blog_Archives__sidbar">
                                                <ul>
                                                    <li>
                                                        <a href="#">March 2015</a>&nbsp;(1)</li>
                                                    <li>
                                                        <a href="#">December 2014</a>&nbsp;(3)</li>
                                                    <li>
                                                        <a href="#">November 2014</a>&nbsp;(4)</li>
                                                    <li>
                                                        <a href="#">September 2014</a>&nbsp;(1)</li>
                                                    <li>
                                                        <a href="#">August 2014</a>&nbsp;(1)</li>
                                                </ul>
                                          </div>
                                        </div>
                                        <div class="product-filter  mb-30">
                                            <h5>Recent Posts</h5>
                                            <div class="blog_Archives__sidbar">
                                                <ul>
                                                    <li> <a href="#">Blog image post</a>&nbsp;(1)</li>
                                                    <li> <a href="#">Post with Gallery</a>&nbsp;(3)</li>
                                                    <li><a href="#">Post with Audio</a>&nbsp;(4)</li>
                                                    <li><a href="#">Post with Video</a>&nbsp;(1)</li>
                                                    <li><a href="#">Post with Text</a>&nbsp;(1)</li>
                                                    
                                                </ul>
                                          </div>
                                        </div>
                                        <div class="sidebar-single-banner">
                                            <a href="#">
                                                <img src="/bootstrap/images/banner/shop-sidebar.jpg" alt="Banner">
                                            </a>
                                        </div>
                                        <div class="product-filter mb-30">
                                            <h5>product tags</h5>
                                                <div class="blog-tags">
                                                    <a href="#">brand</a>
                                                    <a href="#">black</a>
                                                    <a href="#">white</a>
                                                    <a href="#">chire</a>
                                                    <a href="#">table</a>
                                                    <a href="#">Lorem</a>
                                                    <a href="#">ipsum</a>
                                                    <a href="#">dolor</a>
                                                    <a href="#">sit</a>
                                                    <a href="#">amet</a>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cart page content end -->
            {% block footer %}{% endblock %}
            <!-- QUICKVIEW PRODUCT START -->
            <div id="quickview-wrapper">
                <!-- Modal -->
                <div class="modal fade" id="product_modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-close-btn">
                                <button class="close" data-dismiss="modal">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                               <!-- Single product area -->
                               <div class="single-product-area">
                                   <div class="container-fullwidth">
                                       <div class="single-product-wrapper">
                                           <div class="row">
                                               <div class="col-xs-12 col-md-7 col-lg-7">
                                                    <div class="product-details-img-content">
                                                        <div class="product-details-tab mr-40">
                                                            <div class="product-details-large tab-content">
                                                                <div class="tab-pane active" id="pro-details1">
                                                                    <div class="product-popup">
                                                                        <a href="/bootstrap/images/product/single/product4.jpg">
                                                                            <img src="/bootstrap/images/product/single/product4.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details2">
                                                                    <div class="product-popup">
                                                                        <a href="/bootstrap/images/product/single/product5.jpg">
                                                                            <img src="/bootstrap/images/product/single/product5.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details3">
                                                                    <div class="product-popup">
                                                                        <a href="/bootstrap/images/product/single/product6.jpg">
                                                                            <img src="/bootstrap/images/product/single/product6.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details4">
                                                                    <div class="product-popup">
                                                                        <a href="/bootstrap/images/product/single/product7.jpg">
                                                                            <img src="/bootstrap/images/product/single/product7.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details5">
                                                                    <div class="product-popup">
                                                                        <a href="/bootstrap/images/product/single/product8.jpg">
                                                                            <img src="/bootstrap/images/product/single/product8.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-details-small nav product-dec-slider-qui owl-carousel">
                                                                <a class="active" href="#pro-details1">
                                                                    <img src="/bootstrap/images/product/thumbnails/product4.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details2">
                                                                    <img src="/bootstrap/images/product/thumbnails/product5.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details3">
                                                                    <img src="/bootstrap/images/product/thumbnails/product6.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details4">
                                                                    <img src="/bootstrap/images/product/thumbnails/product7.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details5">
                                                                    <img src="/bootstrap/images/product/thumbnails/product8.jpg" alt="">
                                                                </a>
                                                                <a class="active" href="#pro-details1">
                                                                    <img src="/bootstrap/images/product/thumbnails/product4.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details2">
                                                                    <img src="/bootstrap/images/product/thumbnails/product5.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details3">
                                                                    <img src="/bootstrap/images/product/thumbnails/product6.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details4">
                                                                    <img src="/bootstrap/images/product/thumbnails/product7.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details5">
                                                                    <img src="/bootstrap/images/product/thumbnails/product8.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                               </div>
                                               <div class="col-xs-12 col-md-5 col-lg-5">
                                                   <div class="single-product-info">
                                                       <h1>Sit voluptatem</h1>
                                                       <div class="product-rattings">
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star-half-o"></i></span>
                                                            <span><i class="fa fa-star-o"></i></span>
                                                        </div>
                                                        <span class="price">
                                                            <del>$ 77.00</del> $ 66.00
                                                        </span>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                        <div class="box-quantity d-flex">
                                                            <form action="#">
                                                                <input class="quantity mr-40" min="1" value="1" type="number">
                                                            </form>
                                                            <a class="add-cart" href="cart.html">add to cart</a>
                                                        </div>
                                                        <div class="wishlist-compear-area">
                                                            <a href="wishlist.html"><i class="ion-ios-heart-outline"></i> Add to Wishlist</a>
                                                            <a href="#"><i class="ion-ios-loop-strong"></i> Compare</a>
                                                        </div>
                                                        <div class="product_meta">
                                                            <span class="posted_in">Categories: <a href="#" rel="tag">Accessories</a>, <a href="#" rel="tag">Clothings</a></span>
                                                        </div>
                                                        <div class="single-product-sharing">
                                                            <div class="widget widget_socialsharing_widget">
                                                                <h3 class="widget-title">Share this product</h3>
                                                                <ul class="social-icons">
                                                                    <li><a class="facebook social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                                                    <li><a class="twitter social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                                                    <li><a class="pinterest social-icon" href="#"><i class="fa fa-pinterest"></i></a></li>
                                                                    <li><a class="gplus social-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                                    <li><a class="linkedin social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                                <!-- Single product area end -->
                            </div>
                        </div><!-- .modal-content -->
                    </div><!-- .modal-dialog -->
                </div><!-- END Modal -->
            </div>
            <!-- QUICKVIEW PRODUCT END -->
        </div>
        <!-- Body main wrapper end -->


     

      
        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <!-- jQuery Local -->
        <script>window.jQuery || document.write('<script src="/bootstrap/js/jquery-3.2.1.min.js"><\/script>')</script>

        <!-- Popper min js -->
        <script src="/bootstrap/js/popper.min.js"></script>
        <!-- Bootstrap min js  -->
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <!-- All plugins here -->
        <script src="/bootstrap/js/plugins.js"></script>
        <!-- Main js  -->
        <script src="/bootstrap/js/main.js"></script>



        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
