<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Midaq IoT Marketplace</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/static/bootstrap/images/icons/icon_logo.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bootstrap/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/bootstrap/css/ionicons.min.css">
        <link rel="stylesheet" href="/static/bootstrap/css/css-plugins-call.css">
        <link rel="stylesheet" href="/static/bootstrap/css/bundle.css">
        <link rel="stylesheet" href="/static/bootstrap/css/main.css">
        <link rel="stylesheet" href="/static/bootstrap/css/responsive.css">
        <link rel="stylesheet" href="/static/bootstrap/css/colors.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- Body main wrapper start -->
        <div class="wrapper home-one">
            <!-- HEAbaDER AREA START -->
            <header class="header-area">
                    {% block header %}{% endblock %}
            </header>
            <!-- HRADER AREA END -->
            <!-- Slider area -->
                {% block slider %}{% endblock %}
            <!-- Slider area end -->
            <!-- Policy area -->
                {% block policy %}{% endblock %}
            <!-- Policy area end -->
            <!-- Deals Of The Day -->
                {% block deals_of_the_day %}{% endblock %}
            <!-- Deals Of The Day -->
            <!-- Home fullwidth banner -->
            <div class="home-fullwidth-banner-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="#">
                                <img src="http://www.coresofttech.com/assets/images/iot-banner.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Home fullwidth banner end -->
            <!-- Best sellers -->
                {% block best_sellers %}{% endblock %}
            <!-- Best sellers end -->
            <!-- Home fullwidth banner -->
            <div class="home-fullwidth-banner-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="#">
                                <img src="https://www.mobifilia.com/wp-content/uploads/2018/04/IOT-Banner-1.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Home fullwidth banner end -->
            <!-- Best sellers -->
                {% block new_arrivals %}{% endblock %}
            <!-- Best sellers end -->
            <!-- home banner four -->
            <div class="home-banner-four">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 banner-four-one">
                            <a href="shop"><img src="http://www.koit.co.kr/news/photo/201803/73057_22239_2739.jpg" alt=""></a>
                        </div>
                        <div class="col-sm-7 banner-four-two">
                            <div class="top-banner">
                                <a href="shop"><img src="https://res.cloudinary.com/robpickering/image/upload/v1480797818/Established_Connection_xze7fn.png" alt=""></a>
                            </div>
                            <div class="bottom-banner">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="shop"><img src="https://ko.com.ua/files/u5101/iisi72vk.jpg" alt=""></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="shop"><img src="http://www.cloudcioevent.com/cio/img/en_topic.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- home banner four end -->
            <!-- product carosel area -->
                {% block product_carosel %}{% endblock %}
            <!-- product carosel area end -->
            <!-- Brand zone area -->
                {% block brand_zone %}{% endblock %}
            <!-- Brand zone area end -->
            <!-- Brand logo area -->
                {% block brand_logo %}{% endblock %}
            <!-- Brand logo area end -->
            {% block footer %}{% endblock %}
            <!-- QUICKVIEW PRODUCT START -->
            <div id="quickview-wrapper">
                <!-- Modal -->
                <div class="modal fade" id="product_modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-close-btn">
                                <button class="close" data-dismiss="modal">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                               <!-- Single product area -->
                               <div class="single-product-area">
                                   <div class="container-fullwidth">
                                       <div class="single-product-wrapper">
                                           <div class="row">
                                               <div class="col-xs-12 col-md-7 col-lg-7">
                                                    <div class="product-details-img-content">
                                                        <div class="product-details-tab mr-40">
                                                            <div class="product-details-large tab-content">
                                                                <div class="tab-pane active" id="pro-details1">
                                                                    <div class="product-pop">
                                                                        <a href="#">
                                                                            <img src="/static/bootstrap/images/product/single/product4.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details2">
                                                                    <div class="product-pop">
                                                                        <a href="#">
                                                                            <img src="/static/bootstrap/images/product/single/product5.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details3">
                                                                    <div class="product-pop">
                                                                        <a href="#">
                                                                            <img src="/static/bootstrap/images/product/single/product6.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details4">
                                                                    <div class="product-pop">
                                                                        <a href="#">
                                                                            <img src="/static/bootstrap/images/product/single/product7.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details5">
                                                                    <div class="product-pop">
                                                                        <a href="#">
                                                                            <img src="/static/bootstrap/images/product/single/product8.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-details-small nav product-dec-slider-qui owl-carousel">
                                                                <a class="active" href="#pro-details1">
                                                                    <img src="/static/bootstrap/images/product/thumbnails/product4.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details2">
                                                                    <img src="/static/bootstrap/images/product/thumbnails/product5.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details3">
                                                                    <img src="/static/bootstrap/images/product/thumbnails/product6.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details4">
                                                                    <img src="/static/bootstrap/images/product/thumbnails/product7.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details5">
                                                                    <img src="/static/bootstrap/images/product/thumbnails/product8.jpg" alt="">
                                                                </a>
                                                                <a class="active" href="#pro-details1">
                                                                    <img src="/static/bootstrap/images/product/thumbnails/product4.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details2">
                                                                    <img src="/static/bootstrap/images/product/thumbnails/product5.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details3">
                                                                    <img src="/static/bootstrap/images/product/thumbnails/product6.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details4">
                                                                    <img src="/static/bootstrap/images/product/thumbnails/product7.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details5">
                                                                    <img src="/static/bootstrap/images/product/thumbnails/product8.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                               </div>
                                               <div class="col-xs-12 col-md-5 col-lg-5">
                                                   <div class="single-product-info">
                                                       <h1>Sit voluptatem</h1>
                                                       <div class="product-rattings">
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star-half-o"></i></span>
                                                            <span><i class="fa fa-star-o"></i></span>
                                                        </div>
                                                        <span class="price">
                                                            <del>$ 77.00</del> $ 66.00
                                                        </span>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                        <div class="box-quantity d-flex">
                                                            <form action="#">
                                                                <input class="quantity mr-40" min="1" value="1" type="number">
                                                            </form>
                                                            <a class="add-cart" href="cart">add to cart</a>
                                                        </div>
                                                        <div class="wishlist-compear-area">
                                                            <a href="wishlist"><i class="ion-ios-heart-outline"></i> Add to Wishlist</a>
                                                            <a href="#"><i class="ion-ios-loop-strong"></i> Compare</a>
                                                        </div>
                                                        <div class="product_meta">
                                                            <span class="posted_in">Categories: <a href="#" rel="tag">Accessories</a>, <a href="#" rel="tag">Clothings</a></span>
                                                        </div>
                                                        <div class="single-product-sharing">
                                                            <div class="widget widget_socialsharing_widget">
                                                                <h3 class="widget-title">Share this product</h3>
                                                                <ul class="social-icons">
                                                                    <li><a class="facebook social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                                                    <li><a class="twitter social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                                                    <li><a class="pinterest social-icon" href="#"><i class="fa fa-pinterest"></i></a></li>
                                                                    <li><a class="gplus social-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                                    <li><a class="linkedin social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                                <!-- Single product area end -->
                            </div>
                        </div><!-- .modal-content -->
                    </div><!-- .modal-dialog -->
                </div><!-- END Modal -->
            </div>
            <!-- QUICKVIEW PRODUCT END -->
        </div>
        <!-- Body main wrapper end -->


        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <!-- jQuery Local -->
        <script>window.jQuery || document.write('<script src="/bootstrap/js/jquery-3.2.1.min.js"><\/script>')</script>

        <!-- Popper min js -->
        <script src="/static/bootstrap/js/popper.min.js"></script>
        <!-- Bootstrap min js  -->
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<!-- nivo slider pack js  -->
        <script src="/static/bootstrap/js/jquery.nivo.slider.pack.js"></script>
        <!-- All plugins here -->
        <script src="/static/bootstrap/js/plugins.js"></script>
        <!-- Main js  -->
        <script src="/static/bootstrap/js/main.js"></script>

        <!-- ajax js  -->
        <script src="/static/source/js/core/ajax.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
			var apikey = 'kakakkdppppa___KyTTTkkkppspsIURISOOSOSppspsp';
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
