<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Midaq IoT Marketplace</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/bootstrap/images/icons/icon_logo.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css">
        <link rel="stylesheet" href="/bootstrap/css/ionicons.min.css">
        <link rel="stylesheet" href="/bootstrap/css/css-plugins-call.css">
        <link rel="stylesheet" href="/bootstrap/css/bundle.css">
        <link rel="stylesheet" href="/bootstrap/css/main.css">
        <link rel="stylesheet" href="/bootstrap/css/responsive.css">
        <link rel="stylesheet" href="/bootstrap/css/colors.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- Body main wrapper start -->
        <div class="wrapper home-one single-product-page">
            <!-- HEADER AREA START -->
            <header class="header-area">
                {% block header %}{% endblock %}
            </header>
            <!-- HRADER AREA END -->
            <!-- Breadcrumbs -->
            <div class="breadcrumbs-container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <nav class="woocommerce-breadcrumb">
                                <nav class="woocommerce-breadcrumb">
                                    <a href="index">Home</a>
                                    <span class="separator">/</span> Shop
                                    {% if category_name %}
                                    <span class="separator">/</span> {{category_name}}
                                    {% endif %}
                                </nav>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumbs End -->
            
            <!-- Shop page wraper -->
            <div class="shop-page-wraper">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-3 sidebar-shop">
                            <div class="sidebar-product-categori">
							
                                <div class="widget-title">
                                    <h3>{{subcategory}}</h3>
                                </div>
                                <div class="sidebar-single-banner">
                                    <a href="#">
                                        <img src="/bootstrap/images/banner/shop-sidebar.jpg" alt="Banner">
                                    </a>
                                </div>
                                <div class="product-filter mb-30">
                                    <div class="widget-title">
                                        <h3>Filter by price</h3>
                                    </div>
                                    <div class="widget-content">
                                        <div id="price-range"></div>
                                        <div class="price-values">
                                            <div class="price_text_btn">
                                                <span>Price:</span>
                                                <input type="text" class="price-amount">
                                            </div>
                                            <button class="button" type="submit">Filter</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-filter mb-30">
                                    <div class="widget-title">
                                        <h3>TOP RATED PRODUCTS</h3>
                                    </div>
                                    <div class="widget-content">
                                        <ul class="product_list_widget">
                                            <li class="widget-mini-product">
                                                <div class="product-image">
                                                    <a title="Phasellus vel hendrerit" href="#">
                                                        <img alt="" src="/bootstrap/images/product/2.jpg">
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <a title="Phasellus vel hendrerit" href="#">
                                                        <span class="product-title">Consequuntur magni</span>
                                                    </a>
                                                    <div class="star-rating">
                                                        <div class="rating-box">
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                        </div>
                                                    </div>
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>55.00</span>
                                                </div>
                                            </li>
                                            <li class="widget-mini-product">
                                                <div class="product-image">
                                                    <a title="Phasellus vel hendrerit" href="#">
                                                        <img alt="" src="/bootstrap/images/product/3.jpg">
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <a title="Phasellus vel hendrerit" href="#">
                                                        <span class="product-title">Aliquam lobortis</span>
                                                    </a>
                                                    <div class="star-rating">
                                                        <div class="rating-box">
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                        </div>
                                                    </div>
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>55.00</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="sidebar-tag">
                                    <div class="widget-title">
                                        <h3>PRODUCT TAGS</h3>
                                    </div>
                                    <div class="widget-content">
                                        <div class="product-tags">
                                            <a href="#">New </a>
                                            <a href="#">brand</a>
                                            <a href="#">black</a>
                                            <a href="#">white</a>
                                            <a href="#">chire</a>
                                            <a href="#">table</a>
                                            <a href="#">Lorem</a>
                                            <a href="#">ipsum</a>
                                            <a href="#">dolor</a>
                                            <a href="#">sit</a>
                                            <a href="#">amet</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-9 shop-content">
                            <div class="product-toolbar">
                                <div class="topbar-title">
                                    <h1>{{subcategory}}</h1>
                                </div>
                                <div class="product-toolbar-inner">
                                    <div class="product-view-mode">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#grid"><i class="ion-grid"></i></a></li>
                                            <li><a data-toggle="tab" href="#list"><i class="ion-navicon"></i></a></li>
                                        </ul>
                                    </div>
                                    <p class="woocommerce-result-count">Showing 1–12 of 42 results</p>
                                    <div class="woocommerce-ordering">
                                        <form method="get" class="woocommerce-ordering hidden-xs">
                                            <div class="orderby-wrapper">
                                                <label>Sort By :</label>
                                                <select class="nice-select-menu orderby">
                                                    <option dara-display="Select">Default sorting</option>
                                                    <option value="popularity">Sort by popularity</option>
                                                    <option value="rating">Sort by average rating</option>
                                                    <option value="date">Sort by newness</option>
                                                    <option value="price">Sort by price: low to high</option>
                                                    <option value="price-desc">Sort by price: high to low</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="shop-page-product-area tab-content">
                                    <div id="grid" class="tab-pane fade in show active">
                                        <div class="row" id="item-filter">
                                            {% for item in product %}
                                            <div class="item col-sm-6 col-md-4 col-xl-3" data-price={{item.new_price}}>
                                                <div class="single-product-area" >
                                                    <div class="product-wrapper gridview">
                                                        <div class="list-col4">
                                                            <div class="product-image">
                                                                <a href="single-product?id={{item.id}}">
                                                                    <img src="{{item.uri}}" alt="" >
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="list-col8">
                                                            <div class="product-info">
                                                                <h2><a href="single-product?id={{item.id}}">{{item.name}}</a></h2>
                                                                <span class="price">
                                                                    <del>$ {{item.price}}</del> $ {{item.new_price}}
                                                                </span>
                                                            </div>
                                                            <div class="product-hidden">
                                                                <div class="add-to-cart">
                                                                    <a href="cart">Add to cart</a>
                                                                </div>
                                                                <div class="star-actions">
                                                                    <div class="product-rattings">
                                                                        <span><i class="fa fa-star"></i></span>
                                                                        <span><i class="fa fa-star"></i></span>
                                                                        <span><i class="fa fa-star"></i></span>
                                                                        <span><i class="fa fa-star-half-o"></i></span>
                                                                        <span><i class="fa fa-star-o"></i></span>
                                                                    </div>
                                                                    <ul class="actions">
                                                                        <li><a href=""><i class="ion-android-favorite-outline"></i></a></li>
                                                                        <li><a href=""><i class="ion-ios-shuffle-strong"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                           
                                        </div>
                                    </div>
                                    <div id="list" class="tab-pane fade">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="single-product-area">
                                                    <div class="product-wrapper listview">
                                                        <div class="list-col4">
                                                            <div class="product-image">
                                                                <a href="">
                                                                    <span class="onsale">Sale!</span>
                                                                    <img src="/bootstrap/images/product/1.jpg" alt="">
                                                                </a>
                                                                <div class="quickviewbtn">
                                                                    <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="list-col8">
                                                            <div class="product-info">
                                                                <h2><a href="single-product">Sit voluptatem</a></h2>
                                                                <span class="price">
                                                                    <del>$ 77.00</del> $ 66.00
                                                                </span>
                                                                <div class="product-rattings">
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star-half-o"></i></span>
                                                                    <span><i class="fa fa-star-o"></i></span>
                                                                </div>
                                                                <div class="product-desc">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                                </div>
                                                            </div>
                                                            <div class="actions-wrapper">
                                                                <div class="add-to-cart">
                                                                    <a href="cart">Add to cart</a>
                                                                </div>
                                                                <div class="star-actions">
                                                                    <ul class="actions">
                                                                        <li><a href=""><i class="ion-android-favorite-outline"></i>Add to Wishlist</a></li>
                                                                        <li><a href=""><i class="ion-ios-shuffle-strong"></i>Compare</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="single-product-area">
                                                    <div class="product-wrapper listview">
                                                        <div class="list-col4">
                                                            <div class="product-image">
                                                                <a href="">
                                                                    <span class="onsale">Sale!</span>
                                                                    <img src="/bootstrap/images/product/2.jpg" alt="">
                                                                </a>
                                                                <div class="quickviewbtn">
                                                                    <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="list-col8">
                                                            <div class="product-info">
                                                                <h2><a href="single-product">Sit voluptatem</a></h2>
                                                                <span class="price">
                                                                    <del>$ 77.00</del> $ 66.00
                                                                </span>
                                                                <div class="product-rattings">
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star-half-o"></i></span>
                                                                    <span><i class="fa fa-star-o"></i></span>
                                                                </div>
                                                                <div class="product-desc">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                                </div>
                                                            </div>
                                                            <div class="actions-wrapper">
                                                                <div class="add-to-cart">
                                                                    <a href="cart">Add to cart</a>
                                                                </div>
                                                                <div class="star-actions">
                                                                    <ul class="actions">
                                                                        <li><a href=""><i class="ion-android-favorite-outline"></i>Add to Wishlist</a></li>
                                                                        <li><a href=""><i class="ion-ios-shuffle-strong"></i>Compare</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="single-product-area">
                                                    <div class="product-wrapper listview">
                                                        <div class="list-col4">
                                                            <div class="product-image">
                                                                <a href="">
                                                                    <span class="onsale">Sale!</span>
                                                                    <img src="/bootstrap/images/product/3.jpg" alt="">
                                                                </a>
                                                                <div class="quickviewbtn">
                                                                    <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="list-col8">
                                                            <div class="product-info">
                                                                <h2><a href="single-product">Sit voluptatem</a></h2>
                                                                <span class="price">
                                                                    <del>$ 77.00</del> $ 66.00
                                                                </span>
                                                                <div class="product-rattings">
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star-half-o"></i></span>
                                                                    <span><i class="fa fa-star-o"></i></span>
                                                                </div>
                                                                <div class="product-desc">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                                </div>
                                                            </div>
                                                            <div class="actions-wrapper">
                                                                <div class="add-to-cart">
                                                                    <a href="cart">Add to cart</a>
                                                                </div>
                                                                <div class="star-actions">
                                                                    <ul class="actions">
                                                                        <li><a href=""><i class="ion-android-favorite-outline"></i>Add to Wishlist</a></li>
                                                                        <li><a href=""><i class="ion-ios-shuffle-strong"></i>Compare</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="single-product-area">
                                                    <div class="product-wrapper listview">
                                                        <div class="list-col4">
                                                            <div class="product-image">
                                                                <a href="">
                                                                    <span class="onsale">Sale!</span>
                                                                    <img src="/bootstrap/images/product/4.jpg" alt="">
                                                                </a>
                                                                <div class="quickviewbtn">
                                                                    <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="list-col8">
                                                            <div class="product-info">
                                                                <h2><a href="single-product">Sit voluptatem</a></h2>
                                                                <span class="price">
                                                                    <del>$ 77.00</del> $ 66.00
                                                                </span>
                                                                <div class="product-rattings">
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star-half-o"></i></span>
                                                                    <span><i class="fa fa-star-o"></i></span>
                                                                </div>
                                                                <div class="product-desc">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                                </div>
                                                            </div>
                                                            <div class="actions-wrapper">
                                                                <div class="add-to-cart">
                                                                    <a href="cart">Add to cart</a>
                                                                </div>
                                                                <div class="star-actions">
                                                                    <ul class="actions">
                                                                        <li><a href=""><i class="ion-android-favorite-outline"></i>Add to Wishlist</a></li>
                                                                        <li><a href=""><i class="ion-ios-shuffle-strong"></i>Compare</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="single-product-area">
                                                    <div class="product-wrapper listview">
                                                        <div class="list-col4">
                                                            <div class="product-image">
                                                                <a href="">
                                                                    <span class="onsale">Sale!</span>
                                                                    <img src="/bootstrap/images/product/5.jpg" alt="">
                                                                </a>
                                                                <div class="quickviewbtn">
                                                                    <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="list-col8">
                                                            <div class="product-info">
                                                                <h2><a href="single-product">Sit voluptatem</a></h2>
                                                                <span class="price">
                                                                    <del>$ 77.00</del> $ 66.00
                                                                </span>
                                                                <div class="product-rattings">
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star-half-o"></i></span>
                                                                    <span><i class="fa fa-star-o"></i></span>
                                                                </div>
                                                                <div class="product-desc">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                                </div>
                                                            </div>
                                                            <div class="actions-wrapper">
                                                                <div class="add-to-cart">
                                                                    <a href="cart">Add to cart</a>
                                                                </div>
                                                                <div class="star-actions">
                                                                    <ul class="actions">
                                                                        <li><a href=""><i class="ion-android-favorite-outline"></i>Add to Wishlist</a></li>
                                                                        <li><a href=""><i class="ion-ios-shuffle-strong"></i>Compare</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="single-product-area">
                                                    <div class="product-wrapper listview">
                                                        <div class="list-col4">
                                                            <div class="product-image">
                                                                <a href="">
                                                                    <span class="onsale">Sale!</span>
                                                                    <img src="/bootstrap/images/product/6.jpg" alt="">
                                                                </a>
                                                                <div class="quickviewbtn">
                                                                    <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="list-col8">
                                                            <div class="product-info">
                                                                <h2><a href="single-product">Sit voluptatem</a></h2>
                                                                <span class="price">
                                                                    <del>$ 77.00</del> $ 66.00
                                                                </span>
                                                                <div class="product-rattings">
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star-half-o"></i></span>
                                                                    <span><i class="fa fa-star-o"></i></span>
                                                                </div>
                                                                <div class="product-desc">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                                </div>
                                                            </div>
                                                            <div class="actions-wrapper">
                                                                <div class="add-to-cart">
                                                                    <a href="cart">Add to cart</a>
                                                                </div>
                                                                <div class="star-actions">
                                                                    <ul class="actions">
                                                                        <li><a href=""><i class="ion-android-favorite-outline"></i>Add to Wishlist</a></li>
                                                                        <li><a href=""><i class="ion-ios-shuffle-strong"></i>Compare</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="single-product-area">
                                                    <div class="product-wrapper listview">
                                                        <div class="list-col4">
                                                            <div class="product-image">
                                                                <a href="">
                                                                    <span class="onsale">Sale!</span>
                                                                    <img src="/bootstrap/images/product/7.jpg" alt="">
                                                                </a>
                                                                <div class="quickviewbtn">
                                                                    <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="list-col8">
                                                            <div class="product-info">
                                                                <h2><a href="single-product">Sit voluptatem</a></h2>
                                                                <span class="price">
                                                                    <del>$ 77.00</del> $ 66.00
                                                                </span>
                                                                <div class="product-rattings">
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star-half-o"></i></span>
                                                                    <span><i class="fa fa-star-o"></i></span>
                                                                </div>
                                                                <div class="product-desc">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                                </div>
                                                            </div>
                                                            <div class="actions-wrapper">
                                                                <div class="add-to-cart">
                                                                    <a href="cart">Add to cart</a>
                                                                </div>
                                                                <div class="star-actions">
                                                                    <ul class="actions">
                                                                        <li><a href=""><i class="ion-android-favorite-outline"></i>Add to Wishlist</a></li>
                                                                        <li><a href=""><i class="ion-ios-shuffle-strong"></i>Compare</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="single-product-area">
                                                    <div class="product-wrapper listview">
                                                        <div class="list-col4">
                                                            <div class="product-image">
                                                                <a href="">
                                                                    <span class="onsale">Sale!</span>
                                                                    <img src="/bootstrap/images/product/8.jpg" alt="">
                                                                </a>
                                                                <div class="quickviewbtn">
                                                                    <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="list-col8">
                                                            <div class="product-info">
                                                                <h2><a href="single-product">Sit voluptatem</a></h2>
                                                                <span class="price">
                                                                    <del>$ 77.00</del> $ 66.00
                                                                </span>
                                                                <div class="product-rattings">
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star"></i></span>
                                                                    <span><i class="fa fa-star-half-o"></i></span>
                                                                    <span><i class="fa fa-star-o"></i></span>
                                                                </div>
                                                                <div class="product-desc">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                                </div>
                                                            </div>
                                                            <div class="actions-wrapper">
                                                                <div class="add-to-cart">
                                                                    <a href="cart">Add to cart</a>
                                                                </div>
                                                                <div class="star-actions">
                                                                    <ul class="actions">
                                                                        <li><a href=""><i class="ion-android-favorite-outline"></i>Add to Wishlist</a></li>
                                                                        <li><a href=""><i class="ion-ios-shuffle-strong"></i>Compare</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <nav class="woocommerce-pagination">
                                <ul class="page-numbers">
                                    <li><span aria-current="page" class="page-numbers current">1</span></li>
                                    <li><a class="page-numbers" href="#">2</a></li>
                                    <li><a class="page-numbers" href="#">3</a></li>
                                    <li><a class="page-numbers" href="#">4</a></li>
                                    <li><a class="next page-numbers" href="#">→</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div> 
            </div>
            <!-- Shop page wraper end -->
            {% block footer %}{% endblock %}            
            <!-- QUICKVIEW PRODUCT START -->
            <div id="quickview-wrapper">
                <!-- Modal -->
                <div class="modal fade" id="product_modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-close-btn">
                                <button class="close" data-dismiss="modal">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                               <!-- Single product area -->
                               <div class="single-product-area">
                                   <div class="container-fullwidth">
                                       <div class="single-product-wrapper">
                                           <div class="row">
                                               <div class="col-xs-12 col-md-7 col-lg-7">
                                                    <div class="product-details-img-content">
                                                        <div class="product-details-tab mr-40">
                                                            <div class="product-details-large tab-content">
                                                                <div class="tab-pane active" id="pro-details1">
                                                                    <div class="product-popup">
                                                                        <a href="/bootstrap/images/product/single/product4.jpg">
                                                                            <img src="/bootstrap/images/product/single/product4.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details2">
                                                                    <div class="product-popup">
                                                                        <a href="/bootstrap/images/product/single/product5.jpg">
                                                                            <img src="/bootstrap/images/product/single/product5.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details3">
                                                                    <div class="product-popup">
                                                                        <a href="/bootstrap/images/product/single/product6.jpg">
                                                                            <img src="/bootstrap/images/product/single/product6.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details4">
                                                                    <div class="product-popup">
                                                                        <a href="/bootstrap/images/product/single/product7.jpg">
                                                                            <img src="/bootstrap/images/product/single/product7.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details5">
                                                                    <div class="product-popup">
                                                                        <a href="/bootstrap/images/product/single/product8.jpg">
                                                                            <img src="/bootstrap/images/product/single/product8.jpg" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-details-small nav product-dec-slider-qui owl-carousel">
                                                                <a class="active" href="#pro-details1">
                                                                    <img src="/bootstrap/images/product/thumbnails/product4.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details2">
                                                                    <img src="/bootstrap/images/product/thumbnails/product5.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details3">
                                                                    <img src="/bootstrap/images/product/thumbnails/product6.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details4">
                                                                    <img src="/bootstrap/images/product/thumbnails/product7.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details5">
                                                                    <img src="/bootstrap/images/product/thumbnails/product8.jpg" alt="">
                                                                </a>
                                                                <a class="active" href="#pro-details1">
                                                                    <img src="/bootstrap/images/product/thumbnails/product4.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details2">
                                                                    <img src="/bootstrap/images/product/thumbnails/product5.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details3">
                                                                    <img src="/bootstrap/images/product/thumbnails/product6.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details4">
                                                                    <img src="/bootstrap/images/product/thumbnails/product7.jpg" alt="">
                                                                </a>
                                                                <a href="#pro-details5">
                                                                    <img src="/bootstrap/images/product/thumbnails/product8.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                               </div>
                                               <div class="col-xs-12 col-md-5 col-lg-5">
                                                   <div class="single-product-info">
                                                       <h1>Sit voluptatem</h1>
                                                       <div class="product-rattings">
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star-half-o"></i></span>
                                                            <span><i class="fa fa-star-o"></i></span>
                                                        </div>
                                                        <span class="price">
                                                            <del>$ 77.00</del> $ 66.00
                                                        </span>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                        <div class="box-quantity d-flex">
                                                            <form action="#">
                                                                <input class="quantity mr-40" min="1" value="1" type="number">
                                                            </form>
                                                            <a class="add-cart" href="cart">add to cart</a>
                                                        </div>
                                                        <div class="wishlist-compear-area">
                                                            <a href="wishlist"><i class="ion-ios-heart-outline"></i> Add to Wishlist</a>
                                                            <a href="#"><i class="ion-ios-loop-strong"></i> Compare</a>
                                                        </div>
                                                        <div class="product_meta">
                                                            <span class="posted_in">Categories: <a href="#" rel="tag">Accessories</a>, <a href="#" rel="tag">Clothings</a></span>
                                                        </div>
                                                        <div class="single-product-sharing">
                                                            <div class="widget widget_socialsharing_widget">
                                                                <h3 class="widget-title">Share this product</h3>
                                                                <ul class="social-icons">
                                                                    <li><a class="facebook social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                                                    <li><a class="twitter social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                                                    <li><a class="pinterest social-icon" href="#"><i class="fa fa-pinterest"></i></a></li>
                                                                    <li><a class="gplus social-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                                    <li><a class="linkedin social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                                <!-- Single product area end -->
                            </div>
                        </div><!-- .modal-content -->
                    </div><!-- .modal-dialog -->
                </div><!-- END Modal -->
            </div>
            <!-- QUICKVIEW PRODUCT END -->
        </div>
        <!-- Body main wrapper end -->


        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <!-- jQuery Local -->
        <script>window.jQuery || document.write('<script src="/bootstrap/js/jquery-3.2.1.min.js"><\/script>')</script>

        <!-- Popper min js -->
        <script src="/bootstrap/js/popper.min.js"></script>
        <!-- Bootstrap min js  -->
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <!-- All plugins here -->
        <script src="/bootstrap/js/plugins.js"></script>
        <!-- Main js  -->
        <script src="/bootstrap/js/main.js"></script>



        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
