.site-navbar
{
    background-color: #4293cf!important;
}

.dataTables_length label
{
    display: none;
}

.dataTables_filter label123
{
    display: none;
}

.dataTables_info
{
    padding-top: 40px !important;
}

.dataTables_paginate
{
    padding-top: 30px !important;
}

