.produit-titre
{
    color: #000;
    font-size: 20px;
    margin: 0px;
    text-align: center;
}


/* Product images */

#produit-left-images
{
    border: 2px solid #f5f5f5;
    height: 300px;
}

img.product-image
{
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.owl-carousel
{
    margin-top: 10px;
    margin-bottom: 10px;
}

div.owl-carousel img
{
    height: 50px;
    border: 2px solid #ccc;
    padding: 2px !important;
}

div.owl-carousel img.active
{
    border: 2px solid #318CE7;
}

/* end product images */

table .td-left
{
    min-width: 200px;
}

table td.no-border
{
    border: 0px;
}


form textarea
{
    width: 100%;
    height: 200px;
    padding-left: 20px !important;
    border: 1px solid #ddd;
}

.single-product-page form input
{
    width: 200px;
    height: 50px;
    padding-left: 20px !important;
    font-size: 18px !important;
    border: 1px solid #ddd;
}

.single-product-page form textarea:focus, .single-product-page form input:focus
{
    border: 1px solid #ddd !important;
    outline: none !important;
    box-shadow: none !important;
}