#mobile-navbar, .visible-mobile
{
    display: none;
}

.slider-area
{
    margin: 0px;
}

.slider-area .slider-hidden
{
    height: 500px;
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.slider-area .slider
{
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    padding-left: 20px;
}

.slider-area .slider img
{
    width: 100%;
    max-height: 400px;
}

.slider-area #mainSlider img
{
    height: 400px;
}

.policy-area
{
    margin-top: 0px;
}

.breadcrumbs-container
{
    padding-left: 20px !important;
}

/*shop page */

.product_row
{
    margin-left: 10px !important;
}

@media (max-width: 1200px) {

    .hidded-mobile {
        display: none;
    }

    .header-bottom-area, .header-bottom-area .container
    {
        margin: 0px !important;
        padding: 0px !important;
    }

    #mobile-navbar
    {
        display: flex !important;
        background-color: rgb(34,160,30) !important;
        //background-color: rgb(34,160,30) !important;
        //border-bottom: 4px solid rgb(34,160,30);
    }

    .nav-link
    {
        color: #fff !important;
    }


    .visible-mobile
    {
        display: block;
    }

    #header-top-mobile
    {
        background-color:rgb(34,160,30) none repeat scroll 0 0;
    }


    #search-button
    {
        background: rgb(34,160,30) none repeat scroll 0 0;
        display: inline-block;
        color: #fff;
        float: right;
        margin-right: 10px;
        padding: 0px;
        padding-top: 3px;
        font-size:25px;
    }

    #full-width-search
    {
        /*position: absolute;
        top: 0px;
        right: 0px;
        z-index: 0;
        */
        width: 100%;
        height: 58px;
        padding: 0px;
        margin: 0px;
        background-color: #fff;
        padding-left: 10px;
        padding-right: 10px;
    }

    #full-width-search .reset-button
    {
        background-color: #fff;
        border: none;
        outline: none;
        box-shadow: none;
        color: red;
        font-size: 25px;
        font-weight: bold;
        margin-top: 5px;
    }

    #full-width-search input
    {
        height: 58px;
        border: none;
        outline: none;
        color: #000;
        font-size: 16px;
    }

    #full-width-search ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #777 !important;
        font-size: 16px !important;
        font-weight: normal !important;
        opacity: 1; /* Firefox */
    }

    #full-width-search :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #000 !important;
    }

    #full-width-search ::-ms-input-placeholder { /* Microsoft Edge */
        color: #000 !important;
    }

    #search-button, #search-button:hover, #search-button:focus
    {
        border: none;
        outline: none;
        box-shadow: none;
    }


    /* Style home page */

    #home-section-one
    {
        padding-top: 0px !important;
    }

    #home-section-one .border_col
    {
        padding: 0px !important;
    }

    #home-section-one .owl-carousel
    {
        position: relative !important;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    button:focus
    {
        outline: none !important;
        box-shadow: none !important;
    }
    .slider-area .slider
    {
        //height: 300px;
    }

    .slider-area .slider
    {
        margin-bottom: 20px;
        padding: 0px;
    }

    .slider-area #mainSlider img
    {
        height: 300px !important;
    }

    .policy-area
    {
        margin-top: 0px !important;
    }

    .policy-area .single-policy-area
    {
        border: 0px;
    }

    /* Shop page */

    #shop-filter-mobile
    {
        display: none;
    }

    #shop-mobile-navbar
    {
        display: block !important;
    }

    #shop-mobile-navbar .widget-content
    {
        padding: 20px;
        background-color: #fff;
    }


    /* Product page */

    #product-filter-mobile
    {
        display: none;
    }

    #product-mobile-navbar
    {
        display: block !important;
    }

    #product-mobile-navbar .nav-link
    {
        color: #318CE7 !important;
        text-align: left !important;
        font-size: 14px !important;
        text-transform: uppercase;
        text-transform: capitalize !important;
        cursor: pointer;
    }

    #software-images img, #hardware-images img
    {
        width: 100%;
    }

    #product-mobile-navbar h5
    {
        margin-left: 0px !important;
        padding-top: 5px;
        color: #999;
        display: inline-block;
    }

    .breadcrumbs-container
    {
        padding-left: 10px !important;
    }



    /* Blog page */

    #blog-mobile-navbar
    {
        display: block !important;
    }

    #blog-post-list
    {
        padding: 0px !important;
        border: 0px !important;
    }
}


@media (max-width: 770px)
{
    .deals-of-the-day-area .product-image img
    {
        width: 80% !important;
        margin-left: 10%;
        display: block;
    }

    .deals-of-the-day-area .single-product-area
    {
        height: 500px !important;
    }

    .deals-of-the-day-area .single-product-area h2
    {
        text-align: center;
    }

    .deals-of-the-day-area .single-product-area .product-rattings
    {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Product page style */

    #product-mobile-navbar h5
    {
        margin-left: 0px !important;
    }

    .product-description-area .tab-content
    {
        padding-left: 10px !important;
    }
}
