#product-prices-mobile, #company-contacts-mobile
{
    border: 1px solid #f5f5f5;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#product-prices-mobile .btn-warning
{
    background-color: #ff6a00 !important;
    color: #fff !important;
}

#product-prices-mobile p
{
    margin-left: 10px;
    margin-bottom: 0px;
}

#product-prices-mobile .price-detail
{
    margin-bottom: 10px;
}

#produit-right .row
{
    margin: 0px;
}

.review-item, .add-review-section
{
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
}

@media (max-width: 1200px) {
    table td
    {
        min-width: 10px !important;
    }

}


@media (max-width: 770px) {

    #produit-left .app-description
    {
        background-color: #fff !important;
        border: 1px solid #f5f5f5;
    }
}




