.produit-titre
{
    color: #000;
    font-size: 20px;
    margin: 0px;
    text-align: center;
}

#produit-box
{
    background-color: #fff;
    padding: 30px;
}

/* Left section */

#produit-left .app-description
{
    margin-top: 10px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}

#produit-left .app-description h2
{
    font-size: 16px;
    font-weight: bold;
}

#produit-left .app-description h3
{
    font-size: 14px;
    font-weight: bold;
}



/* Product images */

#produit-left-images
{
    border: 2px solid #f5f5f5;
    height: 300px;
}

img.product-image
{
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.owl-carousel
{
    margin-top: 10px;
    margin-bottom: 10px;
}

div.owl-carousel img
{
    height: 50px;
    border: 2px solid #ccc;
    padding: 2px !important;
}

div.owl-carousel img.active
{
    border: 2px solid #318CE7;
}

/* End left section */

/* Right section */

#product-prices
{
    border: 2px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
}

#product-prices h3
{
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
}

#product-prices .price-detail
{
    margin-left: 20px;
    margin-bottom: 20px;
}

#product-prices .price-detail p
{
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
}

#product-prices .btn-warning
{
    background-color: #ff6a00 !important;
    color: #fff !important;
}

#company-contacts
{
    padding: 0px;
    padding-left: 20px;
}

#company-contacts .company
{
    border: 2px solid #ddd;
    padding-left: 20px;
    padding-top: 20px;
    min-height: 200px;
}

#company-contacts img
{
    width: 60px;
    height: 60px;
    display: inline-block;
}

#company-contacts h3
{
    margin: 0px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align123: top;
}

/* inline navbar */

#produit-right-nav-section
{
    padding: 0px;
    margin-top: 30px;
    border: 2px solid #f5f5f5;
}

#product-navigation
{
    background-color: #f5f5f5;
    margin: 0px;
    //border: 1px solid #ddd;
    border-bottom: 0px;
    padding: 0px;
    padding-top: 5px;
}

#product-navigation button
{
    background-color: #f5f5f5;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 0px;
    border-radius: 0px;
    color: #007bff;
    font-weight: bold;
}

#product-navigation button:focus, #product-navigation button:hover
{
    outline: none;
    box-shadow: none;
    border-bottom: 0px;
}

#product-navigation button.active, #product-navigation button:hover
{
    background-color: #fff;
    color: #ff6a00;
    border-top: 1px solid #ff6a00;
}

/* end inline navbar */

/* nav sections */

#produit-right .product_section
{
    padding: 0px;
    //border: 2px solid #f5f5f5;
}

/* company profile */

#company-nav
{
    width: 100%;
    margin: 0px;
    border-bottom: 1px solid #ddd;
}

#company-nav li
{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}

#company-nav li.active, #company-nav li:hover
{
    color: #ff6a00;
    border-bottom: 2px solid #ff6a00;
}

.company-item
{
    padding: 20px;
}

.company-item table td
{
    padding-bottom: 20px;
    vertical-align: top;
}

#produit-right .company-item-title
{
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
}

#produit-right .company-item-title h3
{
    font-size: 16px;
    margin: 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid #f5f5f5;
}

#produit-right .table-left
{
    border-right: 2px solid #f5f5f5;
}

/* end company profile */

/* Hardware description, software, setup and customer reviews */

#hardware-row, #software-row, .setup-install-support-row, .client-review-row
{
    padding: 20px;
}

#hardware-row div.hardware-title, #software-row div.software-title,
.setup-install-support-row div.setup-install-support-title, .client-review-row div.client-review-title
{
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
}

.setup-install-support-row div.setup-install-support-title
{
    margin-bottom: 0px;
}

#hardware-row div.hardware-title h3, #software-row div.software-title h3,
.setup-install-support-row div.setup-install-support-title h3, .client-review-row div.client-review-title h3
{
    font-size: 16px;
    margin: 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid #f5f5f5;
}

.setup-install-support-row table
{
    margin-bottom: 4px;
}

#hardware-row .left-table, #software-row .left-table, .setup-install-support-row .left-table
{
    border-right: 2px solid #f5f5f5;
}

#hardware-row table td.td-left, #software-row table td.td-left, .setup-install-support-row table td.td-left
{
    min-width: 200px;
}

#hardware-row table tr.first-line td, #software-row table tr.first-line td, .setup-install-support-row table tr.first-line td
{
    border-top: 0px;
}

table tr.last-line td
{
    padding: 0px;
    padding-top: 1px;
}

/*end hardware description, software, setup and customer reviews */

/* Customer reviews */

.review-item
{
    margin: 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f5f5f5;
}

.add-review-section
{
    margin: 0px;
}

.review-item .customer-name
{
    margin-bottom: 5px;
}

.review-item .review-date
{
    font-size: 13px;
    color: #999;
}

.add-review-section
{
    margin-bottom: 20px;
}

.add-review-section form textarea
{
    background-color: #fff;
    border: 1px solid #ddd;
}

.add-review-section form textarea:focus, .add-review-section form button:focus
{
    outline: none;
    box-shadow: none;
}

.add-review-section .product-rattings span
{
    font-size: 25px;
}

.add-review-section .review-loading
{
    color: #318CE7;
    font-weight: bold;
    margin-top: 10px;
}

.add-review-section .review-success
{
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

/* end customer reviews */

/* end nav sections */

/* End right section */