.categorie_list .categorie_item.active, .tag_item.active
{
    color: #12A4DD;
}

.price_input
{
    width: 60px !important;
    display: inline-block !important;
    border: 1px solid #ccc;
    outline: none !important;
}

.price_label
{
    display: inline-block;
}

.sort_label
{
    display: inline-block;font-size: 1em;
    font-weight: 600;
    margin-right: 10px;
    line-height: 40px;
    text-align: right;
    float: right;
}

.sort_select
{
    display: inline-block;
    font-size: 1em;
    padding: 0;
    vertical-align: top;
    float: right;
    background: #fff;
    border: 1px solid #ededed;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    height: 40px;
    line-height: 38px;
    min-width: 180px;
    padding: 0 15px;
    text-align: left;
    width: 180px;
    float: right;
}


a
{
    cursor: pointer !important;
}