.categori-menu > span::after
{
    content: "";
    font-family: Ionicons;
    font-size: 27px;
    font-weight: normal;
    left: 30px;
    #position: absolute;
}

.header-bottom-area
{
    /*background-color: #003264;
    background-color: #0489bd;*/
}

.app-name123
{
  color: red;
}

#app-logo123
{
    height: 30px;
    margin-top: 15px;
    /*float: right;*/
    margin-left: 50px;
}

.header-top-area123
{
   background-color: #000;
}

.topbar-nav123
{
    line-height: 30px !important;
}

.menu-my-account-container123
{
    width: 100%;
}

.menu-my-account-container ul123
{
    width: auto !important;
}

.home-fullwidth-banner-area123
{
    margin-top: 0px;
}

#navigation-list123
{
    display: inline-block;
}

#search-button123
{
    background-color: #015C94;
    display: inline-block;
    color: #fff;
}

#full-width-search123
{
    /*position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
    */
    width: 100%;
    height: 58px;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

#full-width-search .reset-button123
{
    background-color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    color: red;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}

#full-width-search input123
{
    height: 58px;
    border: none;
    outline: none;
    color: #000;
    font-size: 16px;
}

#full-width-search123 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #777 !important;
    font-size: 16px !important;
    font-weight: normal !important;
    opacity: 1; /* Firefox */
}

#full-width-search123 :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000 !important;
}

#full-width-search123 ::-ms-input-placeholder { /* Microsoft Edge */
    color: #000 !important;
}

#search-button123:hover, #search-button123:focus
{
    border: none;
    outline: none;
    box-shadow: none;
}

.header-search-form input[type="text"] {
    height: 52px;
    background: #fff;
    padding: 0 15px;
}

.header-search-form input[type="submit"] {
height:46px;
margin:5px
}

.typeahead.dropdown-menu
{
    margin: 0px;
    width: 80%;
}

.typeahead.dropdown-menu li.active
{
    background-color: #f5f5f5;
}

.first-section
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-top: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    background-image: url('https://www.dronemobile.com/background-videos/imgs/background-always-know-where-your-car-is.jpg');
    background-image: url('/static/img/home_page_background.jpg');
    background-image: url('/static/img/home_page_background_default.jpg');
    background-position: center;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background-size: 100%; //propotional resize*/
    background-size: cover;
}

.home-title
{
    color: #fff;
    font-size: 25px;
    margin-bottom: 30px;
}

.home-presentation
{
    color: #fff;
}

.nav_item
{
    padding: 0 10px !important;
    padding-top: 30px;
    /*font-weight: normal !important;*/
    font-size: 14px !important;
}

/*.nav_item:hover
{
    color: #16B84E !important;
}*/

.policy-area
{
  margin-top: 0px;
}

.policy-area-row
{
      width: 100%;
      margin: 0px;
      background-color: #fff;
}

.policy-area-inner
{
     padding-top: 30px;
     padding-bottom: 30px;
     margin-bottom: 0px;
}


.shop_header
{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.hor_ver
{
   font-size: 26px !important;
}

.a_hor_ver
{
   color: #999;
}

.product_row
{
  margin: 10px;
  margin-left: 36px;
}

.breadcrumbs-container
{
  padding-left: 55px;
}

.product-navigation-item
{
    font-size: 15px;
}

.product-link
{
    text-align: center;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-link:hover
{
    background-color: #ddd;
}

.product-link a
{
    color: #318CE7 !important;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.product-link.active
{
    background-color: #ddd;
}

/* login and register modal */

.base-modal .modal-dialog
{
    width: 360px;
    margin-top: 100px;

    width: 420px;
    margin-top: 90px;
}

.base-modal
{
    background-color: rgba(41,48,59,0.8);
    //opacity: 1 !important;
    transition: none !important;
}


.base-modal .modal-header
{
    background-color: #318CE7;
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

.base-modal .modal-header h6
{
    color: #000;
    margin: 0px !important;
}

.base-modal .modal-header button
{
    color: red !important;
}

.base-modal input[type='text'], .base-modal input[type='password']
{
    height: 56px;
    outline: none;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.base-modal input[type='text']:focus, .base-modal input[type='password']:focus
{
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ddd;
}

.base-modal input[type='submit']
{
    width: 100%;
    background-color: #333333;
    margin-bottom: 0px;
}

.base-modal .lost-password
{
    text-align: center;
}

.base-modal .lost-password-a
{
    color: #318CE7 !important;
    font-weight: bold;
    cursor: pointer;
}

.base-modal .no-account
{
    font-size: 15px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px;
}

.base-modal .no-account a
{
    color: #318CE7;
    font-weight: bold;
    cursor: pointer;
}


/* deal of the day */
.deals-of-the-day-area .single-product-area
{
    height: 250px;
    background-color: #fff;
}

.deals-of-the-day-area .single-product-area h2
{
    margin: 0px;
    margin-top: 5px;
}

.deals-of-the-day-area .single-product-area h2 a
{
    margin-bottom: 5px;
}

.deals-of-the-day-area .single-product-area img
{
    height: 190px;
}


/* Brand-logo-area */

.brand-logo-area .titre-container
{
    border-bottom: 2px solid #ccc;
    margin-bottom: 50px;
}

.brand-logo-area .titre-container h1
{
    text-align: center;
}

.brand-logo-area img
{
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-left: 20px;
}


/* Login form */

input[type="password"] {
    background-color: transparent;
    border: 1px solid #e5e5e5;
    height: 45px;
    box-shadow: none;
    padding-left: 10px;
    font-size: 14px;
    color: #626262;
    width: 100%;
    margin-bottom: 30px;
}

.blog-page.blog-text-align p
{
    text-align: left !important;
}

#blog-search-form
{
    background-color: #fff;
    padding: 20px;
}

#blog-search-form input:focus
{
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ddd;
}